<header class="header">

  <a href="#" class="logo">
    <img style="height: 75px" src="assets/images/logo.png" alt="">
  </a>
  <nav class="navbar">
    <a href="/home#home">Trang chủ</a>
    <a href="/home#about">Giới thiệu</a>
    <a href="/home#menu">Sản phẩm</a>
    <a href="/home#review">Đánh giá</a>
    <a href="/home#contact">Liên hệ</a>
    <div class="adminList" >
      <a *ngIf="employee.position?.namePosition == 'Quản lý'" onclick="noiDropdown()">Quản lý</a>
      <div class="noi_dropdown">
        <a routerLink="/employee/list" href=""><span>EMPLOYEE</span></a>
        <a href="#">PRODUCT</a>
        <a href="#">TABLE</a>
        <a href="#">SERVICE</a>
        <a href="#">ORDER</a>
        <a href="#">BILL</a>
        <a href="#">FEEDBACK</a>
      </div>
    </div>
  </nav>

  <div class="icons">
    <div class='bx bxs-cart bx-lg' id="cart-btn">
    </div>
    <!--    <div class="nav-item dropdown show">-->
    <!--        <a class='bx bxs-user-account bx-lg'></a>-->
    <div class="dropdown">
      <a routerLink="/login/authentication" class="btn-login" [hidden]="!isLogin"> Đăng nhập </a>
      <button onclick="hamDropdown()" class ="bx bxs-user-account bx-lg" [hidden]="isLogin"></button>
      <div class="noidung_dropdown">
        <a [routerLink]="['/employee/detail/'] + tokenStorageService.getUser().id" (click)="getPositionById()" >Chi tiết tài khoản</a>
        <a (click)="logout()" href="">Đăng xuất</a>
      </div>
    </div>
  </div>
</header>
