<div *ngIf="message != null">
  <div id="noti" class="alert alert-warning alert-dismissible fade show" role="alert">
    <h4 class="alert-heading text-warning">Thông báo!!</h4>
    <strong>Xin chào!</strong>
    <p *ngIf="message != null">{{message}}</p>
    <button type="button" class="close" (click)="hide()" aria-label="Close">
      <span>&times;</span>
    </button>
    <hr>
  </div>
</div>

<div class="container">
  <div class="title">
    <h1>Quản lý thu nhập</h1>
  </div>
  <div>

    <div class="row m-1">
      <div class="form-group col-md-6">
        <span class="textInput col-1 p-0">Tổng thu nhập: &nbsp;</span>
        <label class="textInput" type="text" id="income">{{totalOrderDayToDay | number: '1.0-1'}} <span>VNĐ</span></label>
      </div>
    </div>
    <form [formGroup]="formSumInCome" (ngSubmit)="submitSumIncome()">
    <div class="row m-1">
      <div class="col-md-6">
        <div class="form-group">
          <span for="exampleFormControlInput1" class="textInput form-label ">Từ ngày: <i style="color: red"> (*)</i></span>
          <input class="form-control mt-2" type="date" formControlName="startDayForm" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <span  for="exampleFormControlInput1" class="textInput form-label">Đến ngày:<i style="color: red"> (*)</i></span>
          <input class="form-control mt-2" type="date" formControlName="endDayForm" />
        </div>
      </div>
      <div class="col-md-3">
        <input type="submit" value="Tính thu nhập"  class="thuNhap mt-2">
      </div>
    </div>
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 mt-4">
        <div class="row m-1">
          <div class="form-group">
            <label class="textInput ">Hôm nay:  &nbsp;</label>
            <span class="textInput ">{{totalOrderToDay | number:'1.0-1'}} <span>VNĐ</span> </span>
          </div>
        </div>

        <div class="row m-1">
          <div class="form-group ">
            <label class="textInput">Tuần này: &nbsp; </label>
            <span class="textInput ">{{totalOrderToWeek| number: '1.0-1'}} <span>VNĐ</span> </span>
          </div>
        </div>

        <div class="row m-1">
          <div class="form-group ">
            <label class="textInput">Tháng này: &nbsp; </label>
            <span class="textInput ">{{totalOrderToMonth | number: '1.0-1'}} <span>VNĐ</span></span>

          </div>
        </div>

        <div class="row m-1">
          <div class="form-group ">
            <label class="textInput">Năm này: &nbsp;  </label>
            <span class="textInput ">{{totalOrderToYear | number: '1.0-1'}}
              <span>VNĐ</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="row m-1">
          <main class="container-md-6">
            <section>
              <div class="pieID pie">
              </div>
              <ul class="pieID legend">
                <li>
                  <em>Cà phê</em>
                  <span>718</span>
                </li>
                <li>
                  <em>Trà</em>
                  <span>531</span>
                </li>
                <li>
                  <em>Bánh</em>
                  <span>868</span>
                </li>
                <li>
                  <em>Món khác</em>
                  <span>344</span>
                </li>
                <li>
                  <em>Tại nhà</em>
                  <span>1145</span>
                </li>
              </ul>
            </section>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>

