<div class="body-1">
  <div class="informationCss">
    <div class="col-xl-6 col-xs-12 col-lg-7 col-md-9 col-sm-9">
      <div class="container">
        <div class="row">
          <div class="table-responsive">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="modal-content" >
                  <div class="col">
                    <div class="modal-header" >
                      <h4 class="modal-title text-center"> <span>Thông tin tài khoản</span></h4>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div class="row">
                    <div class="modal-body">
                      <table  class="col-9">
                        <tr>
                          <td>Tên tài khoản:</td>
                          <td>thienhaudn</td>
                        </tr>
                        <tr>
                          <td >Mật khẩu:</td>
                          <td>*********</td>
                        </tr>
                        <tr>
                          <td>Họ và tên:</td>
                          <td>Lê Sơn Thiên Hậu</td>
                        </tr>
                        <tr>
                          <td>Địa chỉ:</td>
                          <td>Đà Nẵng</td>
                        </tr>
                        <tr>
                          <td>Giới tính:</td>
                          <td>Nam</td>
                        </tr>
                        <tr>
                          <td>Số điện thoại:</td>
                          <td>092309182</td>
                        </tr>
                        <tr>
                          <td>Ngày sinh:</td>
                          <td>15/06/1993</td>
                        </tr>
                        <tr>
                          <td>Lương(VNĐ):</td>
                          <td>30.000.000</td>
                        </tr>
                        <tr>
                          <td>Vị trí:</td>
                          <td>Quản lý</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer row">
                    <button class="button btn col-7 col-md-3 col-sm-3"> << Quay lại</button>
                    <button class="button btn col-7 col-md-4 col-sm-4" >Cập nhập thông tin</button>
                    <button class="button btn col-7 col-md-4 col-sm-4">Thay đổi mật khẩu</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

