<!-- header section starts  -->
<header class="header">

  <a href="#" class="logo">
    <img style="height: 75px" src="assets/images/logon.png" alt="">
  </a>

  <nav class="navbar">
    <a href="#home">Trang chủ</a>
    <a href="#about">Giới thiệu</a>
    <a href="#menu">Sản phẩm</a>
    <a href="#review">Đánh giá</a>
    <a href="#contact">Liên hệ</a>
  </nav>

  <div class="icons">
    <div class="fas bx bx-search-alt-2" id="search-btn"></div>

    <div class="bx bxs-cart" id="cart-btn">  Giỏ hàng</div>
    <div class="fa bx bxs-user-rectangle"> Đăng nhập</div>
  </div>

  <div class="search-form">
    <input type="search" id="search-box" placeholder="search here...">
    <label for="search-box" class="fas fa-search"></label>
  </div>
</header>

<!-- header section ends -->

<router-outlet></router-outlet>

<!-- footer section starts  -->


<section class="footer">

  <div class="share">
    <a href="#" class='bx bxl-facebook'></a>
    <a href="#" class='bx bxl-twitter'></a>
    <a href="#" class='bx bxl-instagram'></a>
    <a href="#" class='bx bxl-linkedin-square'></a>
    <a href="#" class='bx bxl-pinterest'></a>
  </div>

  <div class="links">
    <a href="#">Trang chủ</a>
    <a href="#">Giới thiệu</a>
    <a href="#">Sản phẩm</a>
    <a href="#">Đánh giá</a>
    <a href="#">Liên hệ</a>
  </div>

</section>
