<div>
  <button><a routerLink="/employee/create">create-employee</a></button>
  <button><a routerLink="/employee/edit">edit-employee</a></button>
  <button><a routerLink="/employee/detail">detail-employee</a></button>
  <button><a routerLink="/employee/list">list-employee</a></button>
</div>
<div>
  <button><a routerLink="/feedback/create">create-feedback</a></button>
  <button><a routerLink="/feedback/detail">detail-feedback</a></button>
  <button><a routerLink="/feedback/list">list-feedback</a></button>
</div>
<div>
  <button><a routerLink="/incomef/income-child">income</a></button>
</div>
<div>
  <button><a routerLink="/product/create">create-product</a></button>
  <button><a routerLink="/product/edit">edit-product</a></button>
  <button><a routerLink="/product/list">list-product</a></button>
</div>
<div>
  <button><a routerLink="/table/create">create-table</a></button>
  <button><a routerLink="/table/edit/idTable">edit-table</a></button>
  <button><a routerLink="/table/detail">detail-table</a></button>
  <button><a routerLink="/table/list">list-table</a></button>
</div>
<div>
  <button><a routerLink="/menu/menu-order-child">menu-oder</a></button>
</div>
<div>
  <button><a routerLink="/login/login-child">Login</a></button>
</div>
<div>
  <button><a routerLink="/forget-password/forget-password-child">forget-password</a></button>
</div>
<div>
  <button><a routerLink="/order/order-child">oder</a></button>
</div>
<router-outlet></router-outlet>
