* {
  font-weight: 500;
}
/*list product*/
.list-product-title {
  width: 100%;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(236, 155, 68);
  text-align: center;
}

.list-product-subtitle {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;

}

/*product card*/
.card-product {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.sale-group {
  text-align: center;
}

.sale-group .card-title {
  color: green;
}

.sale-group .status {
  color: green !important;
}

.table {
  text-align: center;
}
